/*-------------------ESTILOS GENERALES-------------------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/*-------------------CONTENEDOR PRINCIPAL-------------------*/
.container {
    display: flex;
    width: 100%;
}

/*-------------------LADO IZQUIERDO-------------------*/
.left-section {
    background-color: #004d99;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 80%;
    height: auto;
}

h1 {
    font-size: 3em;
    margin: 0;
}

/*-------------------LADO DERECHO-------------------*/
.right-section {
    width: 50%;
    padding: 40px;
    background-image: url(''); /* Aquí se pone la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 100vh;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 10%;
}

.menu-btn {
    background-color: rgb(0, 102, 204);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
}

.menu-btn:hover {
    background-color: rgb(0, 51, 153);
}

.menu-btn:focus {
    outline: none;
}

/*-------------------RESPONSIVIDAD-------------------*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        height: auto;
    }

    .menu-btn {
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }
}
